<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="cabecalho" class="cabecalho">
    <div>
        <span class="cabecalho__logo">Mercado Express</span>
        <span class="cabecalho__subtitulo">gestão de produtos</span>
    </div>
    <nav class="cabecalho__nav">
        <a th:href="@{/mercados}">Produtos</a>
        <span sec:authorize="isAuthenticated()" class="cabecalho__usuario" sec:authentication="name"></span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class="form-inline">
            <button type="submit" class="link-nav">Sair</button>
        </form>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">Entrar</a>
    </nav>
</header>
</body>
</html>